@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  color: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.body-medium {
  font-family: 'Inter var', 'ui-sans-serif', 'system-ui';
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
